[Unit]
Description=FastAPI App
After=network.target

[Service]
ExecStart=/home/ec2-user/zmk-lambda/.venv/bin/uvicorn main:app --host 0.0.0.0 --port 8000
WorkingDirectory=/home/ec2-user/zmk-lambda/app
Restart=always

[Install]
WantedBy=multi-user.target