#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        layer_default {
            bindings = <
                        &kp W       &kp U       &kp F       &kp MINUS           &kp K       &kp L       &kp R       &kp Y       
&mt LGUI Q  &mt LCTRL E &kp I       &kp A       &kp O       &kp PRCNT           &kp G       &kp T       &kp N       &kp S       &kp H       &kp P       
            &mt LSHFT Z &mt LALT X  &kp C       &kp V                                       &kp D       &kp M       &kp J       &mt LSHFT B 
                                                &kp TAB   &mt LCTRL SPACE     &kp SPACE &kp LALT 
            >;
        };
    };
};